<section class="description-section">
    <div class="container">
      <div class="description-block">
        <div class="row">
          <div class="col-md-4">
            <div class="container"><img src={{mybooks.image}} class="book-image"/></div>
          </div>
          <div class="col-md-8">
          <div class="container book-details">
            <div class="bookname">{{mybooks.bookName}}</div>
            <div class="authorname"><p>{{mybooks.bookAuthor}}</p></div>
            <div class="bookrating">
            <div class="star-ratings-css">
                <div class="star-ratings-css-top" [style.width]="mybooks.rating+'%'">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-css-bottom">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              </div>
            </div>
             <div class="download">
               <a *ngIf="userCanDownload" (click)="addDownload()" href={{mybooks.PDF}}> <button matTooltip="Download PDF for free" aria-label="download"> Download</button></a>
               <a *ngIf="!userCanDownload" > <button (click)="download()" matTooltip="Download PDF for free" aria-label="download"> Download</button></a>
             </div>
             <div class="buy">
                <button matTooltip="Buy the book" aria-label="buy" [routerLink]="['/checkout']"> Buy</button>
             </div>
             <div class="bookprice">
               <p>Price : &#x20b9; {{mybooks.price}}</p>
             </div>
             <div class="bookcategory">
               <p>Category : {{mybooks.category |titlecase}}</p>
             </div>
             <div class="booktag">
               <div class="tag-icons" *ngIf="mybooks.tag==='1'">
                  <img src="assets/icons/icon-popular.svg" />
                  <p>Most Popular</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='5'">
                  <img src="assets/icons/icon-new.svg" />
                  <p>New Release</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='2'">
                  <img src="assets/icons/icon-trending.svg" />
                  <p>Trending</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='3'">
                  <img src="assets/icons/icon-editor.svg" />
                  <p>Editior's Choice</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='4'">
                  <img src="assets/icons/icon-best.svg" />
                  <p>Best Sellers</p>
               </div>
             </div>
          </div>
          </div>
          </div>
          </div>
          <mat-divider></mat-divider>
          <div class="aboutbook">
            <div class="about-head">About the book</div>
            <div class="bookdescription"><p>{{mybooks.content}}</p></div>
          </div>
          <mat-divider></mat-divider>
          </div>
          <div class="container">
            <div class="related-books">
<div class="head">You may also like <span>Swipe to see more</span> </div>

<div class="box">
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide  *ngFor="let bookitem of related | slice:9">
        <div class="box-item">
            <a [routerLink]="['/']">
          <img src="assets/img/bookcover2.webp" alt=""></a>
             <div class="star-ratings-css">
               <div class="star-ratings-css-top" style="width: 95%">
                 <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
               <div class="star-ratings-css-bottom">
                 <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
             </div>
          <a >
             <div class="subbookname"><span>{{bookitem.bookName}}</span></div>
             <div class="subbookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
           </a>
           <!-- <a [routerLink]="['/checkout']">
               <div class="buybtn">
                   <p><span><img src="assets/icons/buy.svg" style="width: 10px"></span>buy</p>
                               </div>  </a>  -->
                        
               </div>
               </ng-template>
               </owl-carousel-o>
            </div>

</div>
<mat-divider></mat-divider>
            </div>
          
          </section>
