.book-image{
    width: 80%;
    -webkit-box-shadow: 2px 6px 29px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 6px 29px -2px rgba(0,0,0,0.75);
    box-shadow: 2px 6px 29px -2px rgba(0,0,0,0.75);
}
.description-block{
    margin:10vh 0;
}

.star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin:-15px 0 15px 0;
    position: sticky;
  }
  .star-ratings-css-top {
    color: gold;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }
  button {
    background-color: rgb(44, 41, 41);
    border: 1px solid rgb(44, 41, 41);
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	outline: none;
	text-transform: uppercase;
    transition: all 0.2s ease-in;
    margin-bottom: 12px;
    width: 180px;
}
button:active {
	transform: scale(0.95);
}
button:hover {
    background-color: teal;
    color:  white;
    border: 1px solid teal;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}
.tag-icons{
 width: 30px;
 margin: 10px 40px 10px 0;
 float: left;
}
.tag-icons img{
width: 100%;
}
.tag-icons p{
    font-size: 10px;
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.bookrating{
    position: relative;
}
.bookname{
    margin: 10px 0 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: teal;
    font-weight: 600;
}
/* .book-details{
    display: block;
} */
.about-head{
    margin: 30px 0 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    color: teal;
    font-weight: 500;
}
.bookdescription{
    padding: 10px;
    text-align: justify;
    line-height: 35px;
    font-weight: 600;
}
 /*---------------------related product styles------------------------------*/

.box-item{
    text-align: center;
    position: relative;
    overflow: hidden;
    margin:20px auto;
    
}

.buybtn{
    position: absolute;
    top: 55%; 
    transition: all 0.1s ease-in-out;
    opacity: 0;
    right: 12%;
  
}
.buybtn p{
  font-weight: bolder;
 color: white;
 background: teal;
 padding: 5px;
}
.buybtn img{
    width: 20px !important;
    height: 20px !important;
    box-shadow: none !important;
    margin: 0 5px;
}
.box-item:hover .buybtn{
    opacity: 1;
 }

.box-item img{
    width: 120px;
    height: 180px;
    box-shadow: 2px 6px 6px -2px rgba(0,0,0,0.75);
}
 .box-item a{
     font-size: 1rem;
     font-weight: 500;
    text-decoration: none;
    color: #000;
    transition: all 0.2s;
    transition-timing-function: ease-out;
 }
 .box-item a:hover{
     color: #888;
 }
 
.subbookname{
    margin: 8px auto;
}


.related-books .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin-top: 10px;
    position: sticky;
    margin: auto;
  }

  .related-books .star-ratings-css-top {
    color: gold;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  .related-books .star-ratings-css-bottom {
    padding: 0;
    display: block;
    z-index: 0;
  }

  @media only screen and (max-width: 480px){
    .book-image{
        width: 65%;}
  
  .bookname{
    margin: 30px 0 10px 0 !important;
   
    font-size: 1.6rem;
    
  }
  .bookprice{
      margin-top:20px;
  }
  .description-block{
    margin:10vh 0 2vh 0;
} 
button {
    margin: 12px 0 5px 0; 
    width: 180px;
    text-align: center;
}
.about-head{
    text-align: center;
    font-size: 1.6rem;
}
.bookdescription{
    line-height: 32px;
}
.box-item img {
    width: 140px;
    height: 200px;}

.buybtn{
    top: 59%;
    right: 50%;
}
  }