<section class="description-section">
    <div class="container">
      <div class="description-block">
        <div class="row">
          <div class="col-md-4">
            <div class="container"><img src={{mybooks.image}} class="book-image"/></div>
          </div>
          <div class="col-md-8">
          <div class="container book-details">
            <div class="bookname">{{mybooks.bookName}}</div>
            <div class="authorname"><p>{{mybooks.bookAuthor}}</p></div>
            <div class="bookrating">
            <div class="star-ratings-css">
                <div class="star-ratings-css-top" [style.width]="mybooks.rating+'%'">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                <div class="star-ratings-css-bottom">
                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
              </div>
            </div>
             <div class="download">
               <a *ngIf="userCanDownload" href={{mybooks.PDF}}> <button matTooltip="Download PDF for free" aria-label="download"> Download</button></a>
               <a *ngIf="!userCanDownload" > <button (click)="download()" matTooltip="Download PDF for free" aria-label="download"> Download</button></a>
             </div>
             <div class="buy">
                <button matTooltip="Buy the book" aria-label="buy"> Buy</button>
             </div>
             <div class="bookprice">
               <p>Price : &#x20b9;{{mybooks.price}}</p>
             </div>
             <div class="bookcategory">
               <p>Category : {{mybooks.category}}</p>
             </div>
             <div class="booktag">
               <div class="tag-icons" *ngIf="mybooks.tag==='1'">
                  <img src="assets/icons/icon-popular.svg" />
                  <p>Most Popular</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='5'">
                  <img src="assets/icons/icon-new.svg" />
                  <p>New Release</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='2'">
                  <img src="assets/icons/icon-trending.svg" />
                  <p>Trending</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='3'">
                  <img src="assets/icons/icon-editor.svg" />
                  <p>Editiot's Choice</p>
               </div>
               <div class="tag-icons" *ngIf="mybooks.tag==='4'">
                  <img src="assets/icons/icon-best.svg" />
                  <p>Best Sellers</p>
               </div>
             </div>
          </div>
          </div>
          </div>
          </div>
          <mat-divider></mat-divider>
          <div class="aboutbook">
            <div class="about-head">About the book</div>
            <div class="bookdescription"><p>{{mybooks.content}}</p></div>
          </div>
          <mat-divider></mat-divider>
          </div>
          <div class="container">
            <div class="related-books">
<div class="head">You may also like</div>

<div class="box">
    <div class="row">
      <div class="col-md-2" *ngFor="let bookitem of booklist | slice:9">
       
      
          <div class="box-item">
             <img src="assets/img/bookcover2.webp" alt="">
                <div class="star-ratings-css">
                  <div class="star-ratings-css-top" style="width: 95%">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                  <div class="star-ratings-css-bottom">
                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                </div>
             <a href="">
                <div class="subbookname"><span>{{bookitem.name}}</span></div>
                <div class="subbookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
              </a>
              <a href="">
              <div class="addbtn">
                ADD TO MYBOOKS
                          </div>  </a> 
                  </div>
               
             
              </div>
            </div>
            </div>

</div>
<mat-divider></mat-divider>
            </div>
          
          </section>
