<section class="resetpass-section">


    <div class="container text-center ">

      <div class="reset-pass-intro text-center">
          <div><img src="assets/img/logo-black.png " style="width: 200px;margin: 30px"></div>
         
          <span>Enter your username and a new password to update your account.</span>
      </div>
      <mat-card style="width: 50%;margin:30px auto;">
      <div class="resetpass-box">
        <div class="resetpass-head">RESET PASSWORD</div>
  
        <form (submit)="resetpassword()" [formGroup]="resetpassdata">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" name="username" formControlName="username" required type="text">
            <mat-error>Enter Username</mat-error>
          </mat-form-field>
  
        
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" name="password" formControlName="password" type="password">
            <mat-error> Enter Password</mat-error>
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
              <input matInput placeholder="Confirm Password" name="conpassword" formControlName="conpassword" type="password">
              <mat-error> Enter Password Again</mat-error>
            </mat-form-field>
          <br>
          <button type="submit" color="primary" mat-flat-button>Submit</button>
        </form>
      </div>
    </mat-card>
    </div>
  
  </section>