<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="footer-about">
          <div  class="logo"><img src="assets/img/logo-white.png " style="width: 170px"></div>
          <p>PaperLouge provides large collection of books organised in different categories available for free download.</p>
          
            <span>FOLLOW US ON</span>
            <div class="social-icons">
           <a href=""><img src="assets/icons/facebook2.png" alt=""></a> 
           <a href=""><img src="assets/icons/instagram.png" alt=""></a> 
           <a href=""><img src="assets/icons/linkedin.png" alt=""></a> 
          </div>
        </div>
        
      </div>
      <div class="col-md-4">
      <div class="footer-contact">
        <h3>Contact Info</h3>
        <div class="contact-info">
          <p><span><mat-icon>location_on</mat-icon></span>Indore,India</p>
          <p><span><mat-icon>mail</mat-icon></span>paperlouge@gmail.com</p>
          <p><span><mat-icon>local_phone</mat-icon></span>7389885126, 7879482371</p>
          
        </div>
      </div></div>
      <div class="col-md-4">
        <div class="quick-links">
          <h3>Quick Links</h3>
          <a [routerLink]="['/']">Home</a>
          <a [routerLink]="['/contact']">Contact Us</a>
          <a [routerLink]="['/about']">About </a>
            <a (click)="logout()" *ngIf="logged" style="cursor:pointer" style="cursor:pointer;margin-left: -16px;" class="nav-link">Logout</a>
            <a *ngIf="!logged" style="cursor:pointer;margin-left: -16px;" class="nav-link" data-toggle="modal" data-target="#myModal">Login/Signup</a>
        </div>
      </div>
    </div>
  </div>
</footer>

<app-login-signup-model></app-login-signup-model>