<section class="checkout-section">


  <div class="container text-center ">
    <div class="checkout-box">
      <div class="checkout-head">CHECKOUT</div>


      <mat-card >
        <div>Make Payment</div>
      <div class="card-content">
          <div class="content">
          <form  (ngSubmit)="buy()" [formGroup]="stripeTest">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" name="name"required type="text">
              <mat-error>Name</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" name="email"required type="text">
              <mat-error>Email</mat-error>
            </mat-form-field>
          
              <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
              <button type="submit" color="primary" mat-flat-button>Buy</button>
            </form>
      </div>
      </div>
      
    </mat-card>
     
    </div>
  </div>

</section>