<section>


  <div class="container text-center ">
    <div class="checkout-box">
      <div class="head">Checkout</div>
      
     
              <div class=" form-box">
                  <div class="checkout-head">Make Payment</div>
                  <form (ngSubmit)="buy()" [formGroup]="stripeTest">
                      <input type="text"  placeholder="Name" name="name"required type="text" />
                      <input type="text" placeholder="Email" name="email"required type="text" />
                      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
                    <button>Proceed</button>
                  </form>
                </div>
                
          <!-- <form  (ngSubmit)="buy()" [formGroup]="stripeTest">

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Name" name="name"required type="text">
              <mat-error>Name</mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <input matInput placeholder="Email" name="email"required type="text">
              <mat-error>Email</mat-error>
            </mat-form-field>
          
              <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
              <button type="submit" color="primary" mat-flat-button>Buy</button>
            </form>
      </div>
      </div>
      
    </mat-card> -->
     
    </div>
  </div>

</section>