<section class="about-section">
  <div class="container">
    <div class="head">About Us</div>
    <div class="about-block">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="container"><img src="assets/img/about/about1.jpeg" class="about-image"/></div>
          
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="container">
            <div class="about-box">
            
            <p><strong>HI! WE ARE PAPERLOUGE</strong><br><br>PaperLouge provides brief information about variety of books divided into different categories helping its users to discover new books and selecting the one they want to read. PaperLouge also provides digital form of this books so after you have selected your book you can directly download it and read it on your device. 
              </p>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="container">
    <div class="head">Services We Provide</div>
    <div class="services-block">
      <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 col-sm-6 ">
                <div class="service service-card">
                    <img src="assets/icons/service1.svg" class="service-icon">
                    <h4>Books divided in different categories for easy navigation.</h4>
                    <p>We have organized the books in six categories so you can find the unexpected:a wonderful book.</p>
                    
                  </div>
              </div><!-- END COL-->     
              <div class="col-md-6 col-lg-4 col-sm-6 ">
                  <div class="service service-card">
                      <img src="assets/icons/service2.svg" class="service-icon">
                      <h4>Download books in digital format.</h4>
                      <p>Get your favourite book for free as pdf. </p>
                    
                    </div></div>
                    <div class="col-md-6 col-lg-4 col-sm-6 ">
                        <div class="service service-card">
                            <img src="assets/icons/service3.svg" class="service-icon">
                            <h4>Buy books at resonable prices</h4>
                            <p>You can also buy books at resonable cost.</p>
                          </div>
        </div>
      </div>
    </div>
    </div>
    <blockquote class="blockquote">
        <p class="mb-0">“You're never alone when you're reading a book.” </p>
       
          <cite title="Source Title"> Susan Wiggs</cite>
       
          <br><br><span>happy reading.</span>
      </blockquote>
    </div>
    </section>


