nav {
  background: white;
  min-height: 60px;
  box-shadow: 0px 0px 1px 0px #f5f4f4;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
  padding: 0 !important;
}
.nav-white{
  background: #844D36 !important;
}
.nav-link{
  padding: 0 20px !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: bolder;
  font-size: 1rem;
  color: teal !important;
  font-weight: bold !important;
  margin:8px auto !important;
}
.nav-link:hover{
  color: #222 !important;
}
.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3vh 0;
}
.dropdown {
  position: relative;
}
.dropdown-menu{
  display: none;
  border: none;
  margin-top:0px;
  animation: dropdown 0.2s forwards;
  border-radius: 0;
  position: absolute;
}
.dropdown:hover .dropdown-menu {display: block;}
@keyframes dropdown{
  0%{
    opacity: 0;
    height: 0;
  }
  100%{
    opacity: 1;
    height: 220px;
  }
  
}

/* HAMBURGER STYLING BEGINS */

/*HAMBURGER BUTTON STYLING BEGINS*/
.menu-wrap .toggler {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger > div::before,
.menu-wrap .hamburger > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/*HAMBURGER BUTTON STYLING ENDS*/

@media screen and (max-width: 992px) {

  .logo{
    position: fixed;
    left:15px;    
  }
  .menu-wrap .hamburger{
    display: flex;
  }

/*HAMBURGER MENU STYLING BEGINS --only visible in small screen devices*/

/*menu div style*/
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*first div in menu*/
.menu-wrap .menu > div {
  background: white;
  opacity: 0.9;
  width:100vh;
  height:100vh;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: translateX(-100vh);
  transition: all 0.35s ease;
}
/*second div in menu with navbar*/
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.35s ease;
}

  /* show menu when button is clicked -menu div*/
  .menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
  }
  /* show menu when button is clicked -menu's first div*/
  .menu-wrap .toggler:checked ~ .menu > div {
    transform: translateX(0);
    transition-duration: 0.35s;
  }
   /* show menu when button is clicked -menu's second div*/
  .menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition:  opacity 0.35s ease 0.35s;
  }

  /*DROPDOWN IN HAMBURGER MENU*/

  .dropdown:active .dropdown-menu {display: block;}

  .dropdown {
    position: relative;
  }
  .dropdown-menu{
    width: 100%;
    box-shadow: none;
    position: relative;
    animation: dropdown 0.3s ease-in forwards;
    margin-top: 0;
    text-align: center;
    opacity: 0.9;
  }
  .dropdown-menu a{
   color:#0e3844  }
  .dropdown:hover .dropdown-menu {display: block;}
 
}

