
<header>
  
  <!-- End most top info -->
  <nav class="navbar  navbar-expand-lg navbar-light top-navbar fixed-top" data-toggle="sticky-onscroll">
    <div class="container">
        <div class="logo-container"> <a class="navbar-brand logo" [routerLink]="['/']"><img src="assets/img/logo-black.png" alt="Logo"></a></div>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button> -->

      <div class="justify-content-center menu-wrap" id="navbarSupportedContent">
          <input type="checkbox" class="toggler" id="menu-checked">
          <div class="hamburger" >
           <div></div>
          </div>
          <div class="menu">
            <div>
            <div>
        <ul class="navbar-nav ">
          <li class="nav-item">
            <a class="nav-link toggle active"  [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link " style="cursor: pointer;">Categories</a>
            <div class="dropdown-menu">
            <a class="nav-link toggle" (click)="biographies()"  [routerLink]="['/category','biographies']" >Biographies</a>
            <a class="nav-link toggle" (click)="novel()"  [routerLink]="['/category','novel']">Novels</a>
            <a class="nav-link toggle" (click)="science()"  [routerLink]="['/category','science']">Science</a>
            <a class="nav-link toggle" (click)="selfhelp()"  [routerLink]="['/category','selfhelp']">Self-Help</a>
            <a class="nav-link toggle" (click)="technology()"  [routerLink]="['/category','technology']">Technology</a>
            <a class="nav-link toggle" (click)="buisness()"  [routerLink]="['/category','buisness']">Buisness</a>
          </div>
          </li>
          <li class="nav-item">
              <a class="nav-link toggle"  [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link toggle"  [routerLink]="['/contact']">Contact</a>
            </li>
          <li class="nav-item">
            <a *ngIf="!logged" style="cursor:pointer" class="nav-link toggle" data-toggle="modal" data-target="#myModal">Login</a>
            <a (click)="logout()" *ngIf="logged" style="cursor:pointer" class="nav-link toggle">Logout</a>
          </li>
         
        </ul>
      </div>
    </div>
      </div>
      </div>
    </div>
  </nav>

</header>

<app-login-signup-model></app-login-signup-model>
<!-- End top header-->
