<section class="admin-login-section">
  <div class="container text-center">
    <div class="login-box ">
        <div><img src="assets/img/logo-black.png " style="width: 200px;margin: 10px"></div>
      <div class="head">ADMIN PANEL</div>
      <div class="login-form">
       
              <form >
                <h1>LOGIN</h1>
                <input formControlName="username" type="email" placeholder="Username" />
               

                <input formControlName="password" type="password" placeholder="Password" />
                

                <a style="cursor: pointer"  class="forgot-password">Forgot your password?</a>
                <button type="submit" > LOGIN</button>
              
                <!-- <div class="social-container">
                    <span>or login using </span>
                 
                  
                   <button type="button" (click)="google()" class="social"><img src="assets/icons/google.svg" style="width: 40px"></button>
                   <button type="button"  class="social"><img src="assets/icons/facebook.svg" style="width:38px"></button>
                  </div>  -->
              </form>
              

      </div>
    </div>
  </div>
</section>