<section class="contact-section">
  <div class="container">
    <div class="head">Contact Us</div>
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="container">
          <div class="contact-form">
           
                <div class="container"> <div class="contact-head"><p>You can contact us any way that is convenient for you. We are available 24/7 via email. You can also use a quick contact form below.</p></div></div>
            
            <div class=" form-box">
                <form (submit)="contactdetail()" [formGroup]="contact">
                  <div class="row">
                    <div class="col-md-6">
                    <input type="text" formControlName="fname" placeholder="First Name" />
                    </div>
                    <div class="col-md-6">
                    <input type="text" formControlName="lname" placeholder="Last Name" />
                    </div>
                    <div class="col-md-6">
                      <input type="email" formControlName="email" placeholder="Email" />
                    </div>
                    <div class="col-md-6">
                            <input type="number" formControlName="contact" placeholder="Phone" />
                    </div>
                    <div class="col-md-12">                                
                  <textarea name="comment" form="usrform" formControlName="message" placeholder="Message"></textarea> 
                   </div>       
                   <div class="col-md-12">                                

                  <button type="submit">Send Message</button></div>
                 
      
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="container">
          <div class="contact-details">

            <h2>Address</h2>
            <p><span><img src="assets/icons/address.svg" alt=""></span>Indore,India</p>
            <mat-divider></mat-divider>

            <h2>Phone</h2>
            <p><span><img src="assets/icons/phone.svg" alt=""></span>7389885126, 7879482371</p>
            <mat-divider></mat-divider>

            <h2>Email</h2>
            <p><span><img src="assets/icons/email.svg" alt=""></span>paperlouge@gmail.com</p>
            <mat-divider></mat-divider>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>