
    <section class="section-1 tempe-sc">
      <div class="container intro-block">
            <div class=" container">
              <div class="intro-content">
                <span>Welcome To  <img src="assets/img/logo-white.png " class="logo animated fadeIn"></span>
              </div>
            <div class="showcase container">
              <h1>DISCOVER EXCITING READINGS</h1>
              <!-- <p>We have organised the books so you can find the unexpected : a wonderful book, a unknown new subject
                ,or a fascinating author.</p>
              <p>Get started by navigating through our categories.</p> -->
            </div>
          </div>
          
              <!-- <div class="category-icons">
                <div class="row">
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/bio.svg">
                      <p class="caption">BIOGRAPHIES</p>
                    </a>

                  </div>
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/buisness.svg">
                      <p class="caption">BUSINESS</p>
                    </a>

                  </div>
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/science.svg">
                      <p class="caption">SCIENCE</p>
                    </a>

                  </div>
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/selfhelp.svg">
                      <p class="caption">SELF-HELP</p>
                    </a>

                  </div>
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/novel.svg">
                      <p class="caption">NOVELS</p>
                    </a>

                  </div>
                  <div class="col-md-2">
                    <a href=""><img src="assets/icons/tech.svg">
                      <p class="caption">TECHNOLOGY</p>
                    </a>

                  </div>
                </div>
              </div> -->
        </div>
     
    </section>
 

<section class="section-home" style="height: 600px">
  <div class="container">
    <div class="row">

      <!-----------------------------------------MAIN CONTENT SECTION----------------------------------->
      <div class="col-md-8">
        <div class="container">
          <div class="main-content">
           
              <div class="main-wrapper">

                <!------------TRENDING CAROUSEL------------->
                <div class="book-carousel">
                <div class="box">
                  <div class="head" aria-valuenow="Trending">Trending</div>
                  <div class="box-body">
                    <div id="trending-caousel" class="carousel slide" data-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <div class="row">
                            <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                              <div class="box-item">
                                <img src="{{bookitem.image}}" alt="">
                                  <div class="book-caption">
                                  <a [routerLink]="['/bookdescription']">
                                    <div class="bookname"><span>{{bookitem.name}}</span></div>
                                    <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                  </a>
                                  <div class="bookrating">
                                      <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" style="width: 95%">
                                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom">
                                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                      </div>
                                    </div>
                                    <div class="addbtn text-center">
                                    <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                        <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                        </mat-chip-list>
                                      </div>
                                      </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="carousel-item ">
                            <div class="row">
                              <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                                  <div class="box-item">
                                     <img src="assets/img/bookcover2.webp" alt="">
                                       
                                        <div class="book-caption">
                                        <a [routerLink]="['/bookdescription']">
                                          <div class="bookname"><span>{{bookitem.name}}</span></div>
                                          <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                        </a>
                                        <div class="bookrating">
                                            <div class="star-ratings-css">
                                              <div class="star-ratings-css-top" style="width: 95%">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                              <div class="star-ratings-css-bottom">
                                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                            </div>
                                          </div>
                                          <div class="addbtn text-center">
                                          <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                              <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                              </mat-chip-list>
                                            </div>
                                            </div>
                                    </div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <a class="carousel-control-prev" href="#trending-caousel" role="button" data-slide="prev">
                        <img class="carousel-icon c-left" src="assets/icons/left-arrow.svg" aria-hidden="true" />
                      </a>
                      <a class="carousel-control-next" href="#trending-caousel" role="button" data-slide="next">
                        <img class="carousel-icon c-right" src="assets/icons/right-arrow.svg" aria-hidden="true" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>

                <!-----------------BEST SELLERS CAROUSEL------------------>
                <div class="book-carousel">
                    <div class="box">
                      <div class="head" aria-valuenow="Trending">BEST SELLERS</div>
                      <div class="box-body">
                        <div id="bestsellers-caousel" class="carousel slide" data-ride="carousel">
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <div class="row">
                                <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                                  <div class="box-item">
                                  <img src="{{bookitem.image}}" alt="">
                                     
                                      <div class="book-caption">
                                      <a [routerLink]="['/bookdescription']">
                                        <div class="bookname"><span>{{bookitem.name}}</span></div>
                                        <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                      </a>
                                      <div class="bookrating">
                                          <div class="star-ratings-css">
                                            <div class="star-ratings-css-top" style="width: 95%">
                                              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                            <div class="star-ratings-css-bottom">
                                              <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                          </div>
                                        </div>
                                        <div class="addbtn text-center">
                                        <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                            <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                            </mat-chip-list>
                                          </div>
                                          </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="carousel-item ">
                                <div class="row">
                                  <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                                      <div class="box-item">
                                          <img src="assets/img/bookcover2.webp" alt="">
                                            
                                            <div class="book-caption">
                                            <a [routerLink]="['/bookdescription']">
                                              <div class="bookname"><span>{{bookitem.name}}</span></div>
                                              <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                            </a>
                                            <div class="bookrating">
                                                <div class="star-ratings-css">
                                                  <div class="star-ratings-css-top" style="width: 95%">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                  <div class="star-ratings-css-bottom">
                                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                </div>
                                              </div>
                                              <div class="addbtn text-center">
                                              <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                                  <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                                  </mat-chip-list>
                                                </div>
                                                </div>
                                        </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <a class="carousel-control-prev" href="#bestsellers-caousel" role="button" data-slide="prev">
                            <img class="carousel-icon c-left" src="assets/icons/left-arrow.svg" aria-hidden="true" />
                          </a>
                          <a class="carousel-control-next" href="#bestsellers-caousel" role="button" data-slide="next">
                            <img class="carousel-icon c-right" src="assets/icons/right-arrow.svg" aria-hidden="true" />
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                    <!-- ------------EDITOR'S SCHOICE CAROUSEL --------------->

                    <div class="book-carousel">
                        <div class="box">
                          <div class="head" aria-valuenow="Trending">EDITOR'S CHOICE</div>
                          <div class="box-body">
                            <div id="editorchoice-caousel" class="carousel slide" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <div class="row">
                                    <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                                      <div class="box-item">
                                       <img src="{{bookitem.image}}" alt="">
                                          
                                          <div class="book-caption">
                                          <a [routerLink]="['/bookdescription']">
                                            <div class="bookname"><span>{{bookitem.name}}</span></div>
                                            <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                          </a>
                                          <div class="bookrating">
                                              <div class="star-ratings-css">
                                                <div class="star-ratings-css-top" style="width: 95%">
                                                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                <div class="star-ratings-css-bottom">
                                                  <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                              </div>
                                            </div>
                                            <div class="addbtn text-center">
                                            <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                                <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                                </mat-chip-list>
                                              </div>
                                              </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="carousel-item ">
                                    <div class="row">
                                      <div class="col-md-3" *ngFor="let bookitem of mybooks |slice:11">
                                          <div class="box-item">
                                             <img src="assets/img/bookcover2.webp" alt="">
                                               
                                                <div class="book-caption">
                                                <a [routerLink]="['/bookdescription']">
                                                  <div class="bookname"><span>{{bookitem.name}}</span></div>
                                                  <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                                                </a>
                                                <div class="bookrating">
                                                    <div class="star-ratings-css">
                                                      <div class="star-ratings-css-top" style="width: 95%">
                                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                      <div class="star-ratings-css-bottom">
                                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                                    </div>
                                                  </div>
                                                  <div class="addbtn text-center">
                                                  <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                                      <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                                      </mat-chip-list>
                                                    </div>
                                                    </div>
                                            </div>
                                      </div>
                                    </div>
                                  </div>
                              </div>
                              <a class="carousel-control-prev" href="#editorchoice-caousel" role="button" data-slide="prev">
                                <img class="carousel-icon c-left" src="assets/icons/left-arrow.svg" aria-hidden="true" />
                              </a>
                              <a class="carousel-control-next" href="#editorchoice-caousel" role="button" data-slide="next">
                                <img class="carousel-icon c-right" src="assets/icons/right-arrow.svg" aria-hidden="true" />
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
           
              
            </div>
          </div>
        </div>
      </div>

      <!-----------------------------------------------SIDE BAR------------------------------------------------------>
      <div class="col-md-4">
        <div class="container">
          <div class="sidebar-content">
            <div class="container">
              <div class="sidebar-wrapper">

                <!-------------NEW REALEASES SECTION------------->
                <div class="normal-box">
                <div class="box">
                  <div class="head">NEW REALEASES</div>
                  <div class="box-body" *ngFor="let bookitem of mybooks |slice:11">
                      <div class="box-item">
                          <img src="assets/img/bookcover2.webp" alt="">
                             <div class="star-ratings-css">
                               <div class="star-ratings-css-top" style="width: 95%">
                                 <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                               <div class="star-ratings-css-bottom">
                                 <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                             </div>
                          <a [routerLink]="['/bookdescription']">
                             <div class="bookname"><span>{{bookitem.name}}</span></div>
                             <div class="bookprice"><span>&#x20b9;{{bookitem.price}}</span></div>
                           </a>
                           <a href="">
                           <div class="addbtn">
                             ADD TO MYBOOKS
                                       </div>  </a> 
                               </div>
                  </div>


                </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>


