<section class="landing-section">
  <div class="container">
      <div class="landing-block">
        <div class="landing-head">WELCOME TO<br> <span>PAPERLOUGE</span></div>
        <div class="landing-content text-center"><span>download</span> or <span>buy</span> books</div>
      </div>
     
      
  </div>
</section>
<section class="welcome-section" *ngIf="!logged">
<div class="welcome-text text-center">
    new here ?<span> Get Started</span> 
<br><br>
    <a *ngIf="!logged" data-toggle="modal" data-target="#myModal" style="cursor: pointer" (click)="signupTab()">Sign Up Now</a>
    <br><br>
  </div>
  <div class="welcome-text text-center"> And download  {{downloadedBOOKS}} books for free  </div>
</section>


<section class="category-section">

    <div class="cat-head">Browse through our categories</div>

    <div class="category-icons">
      <div class="container">
      <div class="row">
      <div class="col-lg-2 col-md-4 col text-center" ><a [routerLink]="['/category','biographies']"><img src="assets/icons/bio.svg" alt=""><p>Biographies</p></a></div>
      <div class="col-lg-2 col-md-4 col text-center"> <a [routerLink]="['/category','novel']"><img src="assets/icons/novel.svg" alt=""><p>Novels</p></a></div>
      <div class="col-lg-2 col-md-4 col text-center">  <a [routerLink]="['/category','science']"><img src="assets/icons/science.svg" alt=""><p>Science</p></a></div>
      <div class="col-lg-2 col-md-4 col text-center">  <a [routerLink]="['/category','technology']"><img src="assets/icons/tech.svg" alt=""><p>Technology</p></a></div>
      <div class="col-lg-2 col-md-4 col text-center"> <a [routerLink]="['/category','buisness']"><img src="assets/icons/buisness.svg" alt=""><p>Business</p></a></div>
      <div class="col-lg-2 col-md-4 col text-center"> <a [routerLink]="['/category','selfhelp']"><img src="assets/icons/self-help.svg" alt=""><p>Self-Help</p></a></div>
    </div>
  </div>
    </div>
    </section>
    

<section class="section-home" style="margin-top:-45px !important;">
        <div class="container">
               
                <div class="book-carousel">
                <div class="box">
                  <div class="head">Trending<span>swipe to see more</span></div>
               
                  <br>
                  <div class="box-body">
                     <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let bookitem of mybooks">
                              <div class="box-item">
                                  <img src="{{bookitem.image}}" alt="">
                                    <div class="book-caption">
                                    <a [routerLink]="['/bookdescription']">
                                      <div class="bookname"><span>{{bookitem.name}}</span></div>
                                      <div class="bookprice"><span>{{bookitem.author}}</span></div>
                                    </a>
                                    <div class="bookrating">
                                        <div class="star-ratings-css">
                                          <div class="star-ratings-css-top" style="width: 95%">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                          <div class="star-ratings-css-bottom">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        </div>
                                      </div>
                                      <div class="addbtn text-center">
                                      <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                          <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                          </mat-chip-list>
                                        </div>
                                        </div>
                                </div>
                                </ng-template>
                                </owl-carousel-o>
                          </div>     
               </div>
            </div>

             
            <div class="book-carousel">
              <div class="box">
                <div class="head">New Releases<span>swipe to see more</span></div>
            
                <br>
                <div class="box-body">
                   <owl-carousel-o [options]="customOptions">
<ng-template carouselSlide *ngFor="let bookitem of mybooks">
                            <div class="box-item">
                                <img src="{{bookitem.image}}" alt="">
                                  <div class="book-caption">
                                  <a [routerLink]="['/bookdescription']">
                                    <div class="bookname"><span>{{bookitem.name}}</span></div>
                                    <div class="bookprice"><span>{{bookitem.author}}</span></div>
                                  </a>
                                  <div class="bookrating">
                                      <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" style="width: 95%">
                                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom">
                                          <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                      </div>
                                    </div>
                                    <div class="addbtn text-center">
                                    <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                        <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                        </mat-chip-list>
                                      </div>
                                      </div>
                              </div>
                              </ng-template>
                              </owl-carousel-o>
                        </div>     
             </div>
          </div>

           
          <div class="book-carousel">
            <div class="box">
              <div class="head">Editor's Choice<span>swipe to see more</span></div>
              <br>
              <div class="box-body">
                 <owl-carousel-o [options]="customOptions">
<ng-template carouselSlide *ngFor="let bookitem of mybooks">
                          <div class="box-item">
                              <img src="{{bookitem.image}}" alt="">
                                <div class="book-caption">
                                <a [routerLink]="['/bookdescription']">
                                  <div class="bookname"><span>{{bookitem.name}}</span></div>
                                  <div class="bookprice"><span>{{bookitem.author}}</span></div>
                                </a>
                                <div class="bookrating">
                                    <div class="star-ratings-css">
                                      <div class="star-ratings-css-top" style="width: 95%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                      <div class="star-ratings-css-bottom">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                  </div>
                                  <div class="addbtn text-center">
                                  <mat-chip-list matTooltip="Add to MyBooks" aria-label="add to mybooks">
                                      <mat-chip style="font-size: 1rem;">ADD</mat-chip>
                                      </mat-chip-list>
                                    </div>
                                    </div>
                            </div>
                            </ng-template>
                            </owl-carousel-o>
                      </div>     
           </div>
        </div>
          </div>
</section> 
<app-login-signup-model></app-login-signup-model>
